<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Porte de <%- datas.name %></title>
    </head>
    <body>
        <a href="/">back</a>
        <a href="/view/<%- datas._id %>">Affichage</a>
        <a href="/manage/<%- datas._id %>">Modifier</a>
    </body>
</html>